.draggable-div {
    border: 2px solid red;
    width: 400px;
    height: 200px;
}
.resume1Mainbox1{
    border: 2px solid red;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    overflow: scroll;
    overflow-x: hidden;
}
.r1M1B1{
    border: 2px solid red;
    width: 400px;
    height: 500px;
    margin: 100px auto;
}
.gaurav{
    border: 2px solid red;
    width: 200px;
    height: 200px;
}